# maven ignore
target/
*.war
*.ear
*.zip
*.tar
*.tar.gz

# eclipse ignore
.settings/
.project
.classpath

# idea ignore
.idea/
*.ipr
*.iml
*.iws
*.mv.db
*.trace.db


# logs #
logs

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp
*.java~
*.properties~
*.xml~

# system ignore
.DS_Store
Thumbs.db
Servers
.metadata
upload
docs/generator/src/test
docs/sql/3333

__pycache__
